    <style>
        *{margin: 0;padding: 0;}
        div{
            line-height: 100%;
            /*width: 400px;
            height: 200px;*/
            margin: 0px auto;
            text-align: center;
        }
        li{
            list-style: none;
            font-size: 18px;
            color: mediumpurple;
            font-weight: 700;
            line-height: 40px;
        }
    </style>
